body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
.date{
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

#save-button1,#save-button2,#save-button3,#save-button4,#save-button5,#save-button6,#save-button7,#save-button8,#save-button9 {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  

}

#save-button1 i:hover,#save-button2 i:hover ,#save-button3 i:hover ,#save-button4 i:hover ,#save-button5 i:hover ,#save-button6 i:hover ,#save-button7 i:hover ,#save-button8 i:hover ,#save-button9 i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
#t9,#t10,#t11,#t12,#t1,#t2,#t3,#t4,#t5{
  display:flex;
  justify-content: left;

}
#text-input1,#text-input2,#text-input3,#text-input4,#text-input5,#text-input6,#text-input7,#text-input8,#text-input9{
  display: flex;
  justify-content:  center;
  align-items:center ;
  font-size: larger;
  width: 1000px;
  background-color: #d3d3d3;
  color: white;
  background-color: #ff6961;
  color: white;
  background-color: #77dd77;
  color: white;
 
} 
#event {
  display: flex;
  justify-content: center;
}
#time{
  
  display: flex;
  justify-content: left;
}